In [147]:

import pandas as pd
import numpy as np
import csv,re
import os,io,sys

In [149]:


df1=pd.read_csv("/home/azadeh/workspace/snakemake_tutorial/snakemake-snakemake-tutorial-data-f17b467/coverage_by_base",delimiter="\t", header=None)
df1["longueur_gène"]=df1[2]-df1[1]
df1_genes=df1[[1,2,3,4,5,"longueur_gène"]]
df1_genes=df1_genes.rename(columns={ 1: 'début' , 2 : 'fin', 5 : 'profondueur', 3 : 'gène', 4:'base_position'})

df1_genes.tail(500)

         début      fin gène  base_position  profondueur  longueur_gène
72579  4407528  4408212  gid            185           44            684
72580  4407528  4408212  gid            186           44            684
72581  4407528  4408212  gid            187           45            684
72582  4407528  4408212  gid            188           47            684
72583  4407528  4408212  gid            189           47            684
...        ...      ...  ...            ...          ...            ...
73074  4407528  4408212  gid            680           48            684
73075  4407528  4408212  gid            681           48            684
73076  4407528  4408212  gid            682           48            684
73077  4407528  4408212  gid            683           49            684
73078  4407528  4408212  gid            684           48            684

[500 rows x 6 columns]

In [150]:
df1_genes=df1_genes[df1_genes.profondueur==0]
df1_genes["position_génomique"]=df1_genes.apply(lambda x : x[0]+x[3], axis=1)
df1_genes

,début,fin,gène,base_position,profondueur,longueur_gène,position_génomique
13665,775586,778480,mmpL5,2795,0,2894,778381
13666,775586,778480,mmpL5,2796,0,2894,778382
13667,775586,778480,mmpL5,2797,0,2894,778383
13668,775586,778480,mmpL5,2798,0,2894,778384
13669,775586,778480,mmpL5,2799,0,2894,778385
...,...,...,...,...,...,...,...
50875,3339118,3339762,Rv2983,629,0,644,3339747
50876,3339118,3339762,Rv2983,630,0,644,3339748
50877,3339118,3339762,Rv2983,631,0,644,3339749
50878,3339118,3339762,Rv2983,632,0,644,3339750
50879,3339118,3339762,Rv2983,633,0,644,3339751

In [153]:
table=df1_genes.groupby(['gène', 'début', 'fin' , 'longueur_gène' ])
new_table=table.agg({'base_position' : [np.min, np.max , np.ptp] , 'position_génomique':[np.min]})

new_table

                                     base_position             \
                                               min   max  ptp
gène   début   fin     longueur_gène
Rv2983 3339118 3339762 644                     617   633   16
cofC   3339100 3339762 662                     635   651   16
eis    2714124 2715432 1308                      7   326  319
mmpL5  775586  778480  2894                   2795  2892   97
mmpS5  778477  778905  428                       1     1    0

                                     position_génomique
                                                    min
gène   début   fin     longueur_gène
Rv2983 3339118 3339762 644                      3339735
cofC   3339100 3339762 662                      3339735
eis    2714124 2715432 1308                     2714131
mmpL5  775586  778480  2894                      778381
mmpS5  778477  778905  428                       778478

IndexError: index 4 is out of bounds for axis 0 with size 3